.main {
  position: absolute;
    top: 58%;
    left: 47.5%;
    transform: translate(-50%, -50%);
}

.main-heading {
  color: black;
  text-transform: uppercase;
}

.main-heading-primary {
  display: block;
  font-size: 4.0rem;
  font-weight: 400;
  letter-spacing: 25px;
  animation: moveInLeft 1s ease-out;
}

.main-heading-secondary {
  font-family: sans-serif;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 6px;
  color: black;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  
  80% {
    transform: translateX(10px);
  }
  
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  
  80% {
    transform: translateX(-10px);
  }
  
  100% {
    opacity: 1;
    transform: translate(0);
  }
}